.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_store

### Eclipse ###
/bin

## VSCode ###
.vscode

## data migration
*.csv

docker/sftp/data/incoming/SSCS_CreateAppeals_*.xml
docker/sftp/data/incoming/processed/*.xml
